<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LagerDb"
			 connectionString="Server=dbmelanie.database.windows.net;Database=LagerDB;User Id=dbAdmin;Password=Noah.2013;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
